@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@theme {
	--font-inter: "Inter", sans-serif;
	--font-playfair: "Playfair", serif;
}

@theme {
	--color-gunmetal: #1e2a38;
	--color-brand: #005fcc;
	--color-platinum: #d9d9d9;
	--color-anti-flash-white: #f7f9fc;
	--color-deep-blue: #1e2a38;
	--color-soft-gray: #4b5563;
}

.cus-w {
	@apply w-11/12 mx-auto;
}

.logo-properties {
	@apply -ml-3 w-36;
}

.heading-2 {
	@apply text-3xl font-playfair text-deep-blue;
}
